= paginator.render do
  %ul.pagination{ 'aria-label': 'Pagination', role: :navigation }
    = first_page_tag
    = prev_page_tag

    - each_page do |page|
      - if page.display_tag?
        = page_tag page

    = next_page_tag
    = last_page_tag
